
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录页面</title>
</head>
<body>
    <form action="showname" method="post">
        <div>
            用户登录页面
            账号: <input type="text" /> <br />
            密码: <input type="text" /> <br />
            <a href="showname">showname</a>
            <a href="findname">findname</a>
            <a href="register">注册</a>
            <a href="customView">查找姓名</a>
            <a href="index">index</a>
            <input type="submit" value="登录" />
        </div>
    </form>
</body>
</html>
